{% include "header.html"  %}

<h1>
<a href=../>yaq</a>/contact
</h1>

<hr>

<p>
We would love to hear from you!
It's typically best to start by opening an issue on <a href="https://gitlab.com/yaq/yaq-fyi/-/issues">yaq-fyi</a>.
We treat this issue tracker as a general forum, so please do not hesitate to open an issue for any reason!
We will redirect you if necessary.
You can also email Blaise if you wish to receive regular update emails.
</p>

<p>
A full list of contact options follows:
</p>

<p>
<a href="https://gitlab.com/yaq/yaq-fyi/-/issues">yaq-fyi issue tracker</a> ("forum") </br>
<a href="https://matrix.to/#/#yaq:matrix.org">#yaq:matrix.org</a> (chat) </br>
<a href="mailto:blaise@untzag.com">blaise@untzag.com</a> (for Blaise Thompson) </br>
</p>

<p>
Thank you for your interest in the yaq project.
</p>

{% include "footer.html" %}
