<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ daemon["name"] }}</title>
  <link rel="stylesheet" href="../../style.css">
</head>
<body>

<h1>
<a href=../../>yaq</a>/<a href=../>daemons</a>/{{ daemon["name"] }}
</h1>

<hr>

<p>
Here goes information about the {{ daemon["name"] }} daemon.
</p>

<p>
external links:
{% for url in ["repository-url", "documentation-url", "bugtracker-url"] %}
<ul>
  {% if url in daemon.keys() %}
    <li><a href={{ daemon[url] }}>{{ url.split("-")[0] }}</a></li>
  {% endif %}
</ul>
{% endfor %}
</p>

</body>
</html>
