{% include "header.html" %}

<h1>
<a href=../../>yaq</a>/<a href=../>daemons</a>/{{ daemon["name"] }}
</h1>

<hr>

<p>
{{ daemon["description"] }}
</p>

<p>
  Lineage:
</p>

<p>
  Traits:
</p>

{% if "links" in daemon.keys() %}
<p>
External links:
<ul>
{% for name in daemon["links"].keys() %}
  <li><a href={{ daemon["links"][name] }}>{{ name }}</a></li>
{% endfor %}
</ul>
</p>
{% endif %}

<h2>
Instillation
</h2>

<h2>
Config
</h2>

<h2>
State
</h2>

<h2>
Methods
</h2>

{% include "footer.html" %}
