<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>yaq family</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>

<h1>
<a href=../../>yaq</a>/families
</h1>

<hr>

<p>
The yaq project defines a family inheritence structure that aims to unify the interface signature for classes of hardware.
By enforcing this structure, yaq highlights the similarities been different daemon instances, making it easier to create more flexable and generic clients.
The family inheritence helps ensure that good conventions are known and applied well to each applicable daemon.
</p>

<p class="singlespaced">
Base <br>
│ <br>
├── Hardware <br>
│ <br>
│ Test <br>
│ <br>
└── Sensor <br>
</p>



<ul>
{% for d in daemons %}
   <li>{{ d["name"] }}</li>
{% endfor %}
</ul>

</body>
</html>
