{% include "header.html"  %}

<h1>yaq</h1>

<hr>

<p>
A modular and extensible instrument control framework.
</p>

<p>
<a href="./introduction/">introduction</a> </br>
<a href="./blog/">blog</a> </br>
<a href="./traits/">traits</a> </br>
<a href="./daemons/">daemons</a> </br>
<a href="./hardware/">hardware</a> </br>
<a href="./packages/">packages</a> </br>
<a href="./licensing/">licensing</a> </br>
<a href="./contact/">contact</a> </br>
<a href="./alternatives/">alternatives</a> </br>
</p>

<p>
Subdomains:
</p>

<p>
<a href="https://yeps.yaq.fyi">yaq enhancement proposals</a> </br>
<a href="https://control.yaq.fyi">yaqd-control</a> </br>
<a href="https://traits.yaq.fyi">yaq-traits</a> </br>
</p>

<p>
Elsewhere:
</p>

<p>
<a href="https://gitlab.com/yaq">GitLab</a> (abandoned)</br>
<a href="https://github.com/yaq-project">GitHub</a> </br>
<a href="https://doi.org/10.1063/5.0135255">Review of Scientific Instruments Publication</a> </br>
<a href="https://www.youtube.com/@yaq-project">YouTube</a> </br>
<a href="https://hackmd.io/team/yaq">Community Call</a> </br>
</p>

{% include "footer.html" %}
