{% include "header.html"  %}

<h1>yaq</h1>

<hr>

<p>
Hello, and welcome to the online home of the yaq project!
</p>

<p>
We are building a modular and extensible instrument control framework on top of <a href="https://avro.apache.org/docs/1.11.1/specification/">Apache Avro RPC</a>.
In human terms, this means we have designed a simple user-friendly interface to control scientific hardware (motors, sensors, etc) from Python.
We already support <a href="./hardware/">lots of hardware</a>, and more is being added all the time.
</p>

<p>
If you're new to yaq, hello! 👋
You are welcome here---yaq is designed and built by a diverse group of researchers, most of whom have no formal training in computer science.
In our opinion, the best place to start is to just use yaq!
We've prepared some starter tutorials, linked in the next section.
Once you're familiar with the basics as a yaq user, we hope you'll move on to the other sections and join us in building an instrument control framework that's better for everyone.
</p>

<h2>Tutorials</h2>

<p>
Beginners should probably start with these! </br>
These exercises walk you through some basic examples step-by-step.
</p>

<a href="./blog/installing-yaq/">installing yaq</a> </br>
<a href="./blog/yaqc/">an introduction to yaqc</a> </br>
<a href="https://control.yaq.fyi">an introduction to yaqd-control</a> </br>
<a href="./blog/ne1000/">let's write a yaq daemon</a> </br>
<a href="./blog/yaqc-cmds/">yaqc-cmds introduction</a> </br>
<a href="./blog/tags/#tutorial">all blog posts tagged "tutorial"</a> </br>

<h2>How-To Guides</h2>

<p>
These guides explain how to solve common problems for developers familiar with yaq.
</p>

<a href="./blog/record-simply-script">Recording Data Simply</a> </br>
<a href="./blog/happi">yaq and happi</a> </br>
<a href="./blog/labview1">yaq and labview</a> </br>
<a href="https://traits.yaq.fyi">yaq-traits</a> </br>
<a href="./blog/tags/#howto">all blog posts tagged "howto"</a> </br>

<h2>Explanation</h2>

<p>
Broad discussions of the how and why behind yaq.
</p>

<a href="./introduction/">introduction</a> </br>
<a href="./licensing/">licensing</a> </br>
<a href="./alternatives/">alternatives</a> </br>
<a href="https://doi.org/10.1063/5.0135255">Review of Scientific Instruments Publication</a> </br>
<a href="https://yeps.yaq.fyi">yaq enhancement proposals</a> </br>

<h2>References</h2>

<p>
Formal documentation serving as the "source of truth" for the yaq project.
</p>

<a href="./traits/">traits</a> </br>
<a href="./daemons/">daemons</a> </br>
<a href="./hardware/">hardware</a> </br>
<a href="./packages/">packages</a> </br>

<h2>Get Involved!</h2>

<p>
Join us!
</p>

<a href="./contact/">contact us</a> </br>
<a href="https://www.youtube.com/@yaq-project">YouTube</a> </br>
<a href="https://gitlab.com/yaq">GitLab</a> (abandoned)</br>
<a href="https://github.com/yaq-project">GitHub</a> </br>
<a href="https://hackmd.io/team/yaq">Community Call</a> </br>

<p>
</p>

{% include "footer.html" %}
