{% include "header.html" %}

<h1>
<a href=../../>yaq</a>/<a href=../>traits</a>/{{ trait["name"] }}
</h1>

<hr>

{{ trait["description"] }}


{% if trait["requires"] %}
<h2>requires</h2>
<p class="tab30">
{% for r in trait["requires"] %}
   <a href=../{{ r }}>{{ r }}</a> <br>
{% endfor %}
</p>
{% endif %}


{% if config %}
<h2>config</h2>
<p>
  Daemons with the {{ trait["name"] }} trait expect the following configuration:
</p>
{% for k, v in config.items() %}
   <p class="tab30">
   <b>{{ k }}</b> <br>
   type: {{ v["type"] }} <br>
   {% if "description" in v.keys() %} {{ v["description"] }} <br> {% endif %}
   {% if "origin" in v.keys() %}
     <i>from <a href="../{{ v['origin'].split('>')[-1] }}">{{ v["origin"] }}</a></i> <br>
   {% endif %}

   </p>
{% endfor %}
{% endif %}

{% if state %}
<h2>state</h2>
<p>
  Daemons with the {{ trait["name"] }} trait will provide the following state information:
</p>
{% for k, v in state.items() %}
   <p class="tab30">
   <b>{{ k }}</b> <br>
   type: {{ v["type"] }} <br>
   {% if "description" in v.keys() %} {{ v["description"] }} <br> {% endif %}
   {% if "origin" in v.keys() %}
     <i>from <a href="../{{ v['origin'].split('>')[-1] }}">{{ v["origin"] }}</a></i> <br>
   {% endif %}
   </p>
{% endfor %}
{% endif %}

{% if method %}
<h2>method</h2>
<p>
  Daemons with the {{ trait["name"] }} trait expose the following public methods:
</p>
{% for k, v in method.items() %}
   <p class="tab30">
   <b>{{ k }}</b> <br>
   {% if "description" in v.keys() %} {{ v["description"] }} <br> {% endif %}
   {% if "origin" in v.keys() %}
     <i>from <a href="../{{ v['origin'].split('→')[-1] }}">{{ v["origin"] }}</a></i> <br>
   {% endif %}
   {% if "returns" in v.keys() %} Returns : {{ v["returns"] }} <br> {% endif %}
   {% if "args" in v.keys() %}
     Arguments: <br>
     </p>
     {% for ak, av in v["args"].items() %}
        <p class="tab60">
          {{ ak }}, {{ av }} <br>
	</p>
     {% endfor %}
   {% else %} </p>
   {% endif %}
{% endfor %}
{% endif %}


{% include "footer.html" %}
