{% include "header.html" %}

<h1>
<a href=../../>yaq</a>/<a href=../>traits</a>/{{ trait["name"] }}
</h1>

<hr>

{{ trait.description }}


{% if trait.requires %}
<h2>requires</h2>
<p class="tab30">
{% for r in trait.requires.keys() %}
  <a href=../{{ r }}>{{ r }}</a>
  {% if trait.requires[r] %}
     <i>{{ trait.format_origin(trait.requires[r]) }}</i>
  {% endif %}
  <br>
{% endfor %}
</p>
{% endif %}


{% if trait.config %}
<h2>configuration</h2>
<p>
  Daemons with the {{ trait["name"] }} trait expect the following configuration:
</p>
{% for k, v in trait.config.items() %}
   <p class="tab30">
   <b>{{ k }}</b> ({{ v["type"] }})
   {% if "default" in v.keys() %}<i>default: {{ v["default"] }}</i>{% endif %}
   <br>
   {% if "description" in v.keys() %} {{ v["description"] }} <br> {% endif %}
   {% if "origin" in v.keys() %}
     <i>{{ trait.format_origin(v["origin"]) }}</i>
   {% endif %}
   </p>
{% endfor %}
{% endif %}

{% if trait.state %}
<h2>state</h2>
<p>
  Daemons with the {{ trait["name"] }} trait will provide the following state information:
</p>
{% for k, v in trait.state.items() %}
   <p class="tab30">
   <b>{{ k }}</b> ({{ v["type"] }}) <br>
   {% if "description" in v.keys() %} {{ v["description"] }} <br> {% endif %}
   {% if "origin" in v.keys() %}
     <i>{{ trait.format_origin(v["origin"]) }}</i>
   {% endif %}
   </p>
{% endfor %}
{% endif %}

{% if trait.method %}
<h2>methods</h2>
<p>
  Daemons with the {{ trait["name"] }} trait expose the following public methods:
</p>
{% for k, v in trait.method.items() %}
   <p class="tab30">
   <b>{{ k }}</b>
   {% if "returns" in v.keys() %} ➜  {{ v["returns"] }} {% endif %}
   <br>
   {% if "description" in v.keys() %} {{ v["description"] }} <br> {% endif %}
   {% if "origin" in v.keys() %}
     <i>{{ trait.format_origin(v["origin"]) }}</i> <br>
   {% endif %}
   {% if "args" in v.keys() %}
     Arguments: <br>
     </p>
     {% for ak, av in v["args"].items() %}
        <p class="tab60">
          {{ ak }}, {{ av }} <br>
	</p>
     {% endfor %}
   {% else %} </p>
   {% endif %}
{% endfor %}
{% endif %}

{% include "footer.html" %}
